{% extends 'base.html.twig' %}

{% block title %}{{ clothingItem.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="justify-between">
            <h2>{{ clothingItem.name }}</h2>
            <button onclick="history.back()">Back</button>
        </div>

        <div class="justify-between">
            {% include '_components/_edit_button.html.twig' with {'path': 'app_clothes_edit', 'slug' : clothingItem.slug} %}
            {% include '_components/_delete_button.html.twig' with {'path': 'app_clothes_delete', 'slug' : clothingItem.slug} %}
        </div>

        <div class="element-center-h">
            <div class="justify-between">
                <p style="font-weight: bold">Material</p>
                <p>{{ clothingItem.material.value }}</p>
            </div>

            <div class="justify-between">
                <p style="font-weight: bold">Weather type</p>
                <p>{{ clothingItem.weather.value }}</p>
            </div>

            <div class="justify-between">
                <p style="font-weight: bold">Color(s)</p>
                {% for color in clothingItem.colors %}
                    <p>{{ color.value }}</p>
                {% endfor %}
            </div>

            <div class="justify-between">
                <p style="font-weight: bold">Style</p>
                {% for style in clothingItem.styles %}
                    <p>{{ style.value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
