{% extends 'base.html.twig' %}
    {% if app.request.get('_route') == 'app_clothes_add' %}
        {% set title = 'Add a clothing item' %}
        {% set buttonText = 'Add' %}
    {% elseif app.request.get('_route') == 'app_clothes_edit' %}
        {% set title = 'Edit ' ~ clothingItem.name %}
        {% set buttonText = 'Edit' %}
    {% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="justify-between">
            <h2> {{ title }}</h2>
            <button onclick="history.back()">Back</button>
        </div>

        <div class="form-group element-center-v">
            {{ form_start(clothingItemForm) }}

            <div class="input-group justify-between">
                <label for="username">Name</label>
                {{ form_widget(clothingItemForm.name) }}
            </div>
            <div class="input-group justify-between">
                <label for="email">Material</label>
                {{ form_widget(clothingItemForm.material) }}
            </div>
            <div class="input-group justify-between">
                <label for="password">Weather</label>
                {{ form_widget(clothingItemForm.weather) }}
            </div>
            <div class="input-group justify-between">
                <label for="email">Color</label>
                {{ form_widget(clothingItemForm.colors) }}
            </div>
            <div class="input-group justify-between">
                <label for="password">Style</label>
                {{ form_widget(clothingItemForm.styles) }}
            </div>
            <div class="input-group justify-between">
                <label for="password">Categories</label>
                {{ form_widget(clothingItemForm.category) }}
            </div>

            <button type="submit">
                {{ buttonText }}
            </button>
            {{ form_end(clothingItemForm) }}
        </div>
    </div>
{% endblock %}
