<div class="clothing-item">

    <h4>{{ clothingItem.name }}</h4>

    {% if clothingItem.outfits is not empty %}
        {% for outfit in clothingItem.outfits %}
            <p>{{ outfit }}</p>
        {% endfor %}
    {% endif %}

    <p>{{ clothingItem.material.value }}</p>

    <p>{{ clothingItem.weather.value }}</p>

    {% for color in clothingItem.colors %}
        <p>{{ color.value }}</p>
    {% endfor %}

    {% for style in clothingItem.styles %}
        <p>{{ style.value }}</p>
    {% endfor %}
</div>
