{% extends 'base.html.twig' %}

{% block title %}Outfits{% endblock %}

{% block body %}
    <h1>Outfits</h1>

    <h2>Get an outfit suggestion</h2>

    <p>Today's weather in {{ user.location }} is {{ weatherData.description }}</p>

    <div>

        <p>The temperature will be {{ weatherData.temperature }} ({{ weatherData.tempMin|round(0, 'floor') }}
            -{{ weatherData.tempMax|round(0, 'floor') }}) </p>
    </div>

    <div class="element-center">
        <a href="{{ path('generate_recommandation') }}" class="button">Get a recommandation</a>
    </div>

{#    {{ dump(weatherData) }}#}
{% endblock %}


