{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>

        <div class="form-group">
            {{ form_start(registrationForm) }}

            <div class="input-group">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.location) }}
                {{ form_widget(registrationForm.location) }}
                {{ form_errors(registrationForm.location) }}
            </div>

            <button type="submit">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
