{% extends 'base.html.twig' %}

{% block title %}weather{% endblock %}

{% block body %}
    <h1>weather</h1>

    <p>Current weather in {{ user_location }} is {{ weatherString }}</p>

    <div>
        <p>The current temperature is {{ weatherData.temperature }}°C and it feels
            like {{ weatherData.tempFeels|round(0, 'floor') }}°C.</p>

        {% if weatherData.windSpeed > 20 %}
            <p>It's gonna be windy today !</p>
        {% endif %}

        {% if weatherData.rain > 1 %}
            <p>And its gonna rain.</p>
        {% endif %}
    </div>

    <div class="element-center">
        <a href="{{ path('app_generate_suggestion') }}" class="button">Get outfit suggestions</a>
    </div>
{% endblock %}

