{% extends 'base.html.twig' %}

{% block title %}Edit my profile{% endblock %}

{% block body %}
    <div class="container">
        <h2>Edit my profile</h2>

        <div class="form-group">
            {{ form_start(userEditForm) }}
            {{ form_errors(userEditForm) }}

            <div class="input-group">
                {{ form_label(userEditForm.username) }}
                {{ form_widget(userEditForm.username) }}
            </div>
            <div class="input-group">
                {{ form_label(userEditForm.email) }}
                {{ form_widget(userEditForm.email) }}
            </div>
            <div class="input-group">
                {{ form_label(userEditForm.plainPassword) }}
                {{ form_widget(userEditForm.plainPassword) }}
            </div>
            <div class="input-group">
                {{ form_label(userEditForm.location) }}
                {{ form_widget(userEditForm.location) }}
            </div>

            <button type="submit">Edit</button>
            {{ form_end(userEditForm) }}
        </div>
    </div>
{% endblock %}
