<ul>
    <li class="element-nav"><a href="{{ path('app_home') }}">home</a></li>
    <li class="element-nav"><a href="{{ path('app_user_profile') }}">profile</a></li>
    <li class="element-nav"><a href="{{ path('app_settings') }}">settings</a></li>
    <li class="element-nav"><a href="{{ path('app_register') }}">register</a></li>
    <li class="element-nav"><a href="{{ path('app_logout') }}">log in/out</a></li>
    <li class="element-nav"><a href="{{ path('app_daily_weather') }}">weather</a></li>
</ul>
