<div class="nav">
    <p class="title-nav"><a href="{{ path('app_home') }}">tchooz</a></p>

    <div>
        <input type="checkbox" id="hamburger-input" class="burger-shower" hidden/>

        <label id="hamburger-menu" for="hamburger-input">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav id="sidebar-menu">
            <ul>
                <li class="element-nav {{ app.request.get('_route') == 'app_home' ? 'active' : '' }}"><a
                            href="{{ path('app_home') }}">home</a></li>
                {% if app.user is null %}
                    <li class="element-nav {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}"><a
                                href="{{ path('app_register') }}">register</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="element-nav {{ app.request.get('_route') == 'app_clothes' ? 'active' : '' }}"><a
                                href="{{ path('app_clothes') }}">clothes</a></li>
                    <li class="element-nav {{ app.request.get('_route') == 'app_user_profile' ? 'active' : '' }}"><a
                                href="{{ path('app_user_profile') }}">profile</a></li>
                {% endif %}
                <li class="element-nav {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}"><a
                            href="{{ path(app.user ? 'app_logout' : 'app_login') }}">log {{ app.user ? 'out' : 'in' }}</a>
                </li>
            </ul>
            <label class="switch">
                <input type="checkbox" name="theme_switch">
                <span class="slider"></span>
            </label>
        </nav>
    </div>

    <div class="overlay"></div>
</div>
